__pycache__/
*.py[cod]
*.so

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/

results/
runs/
logs/
wandb/

*.pt
*.pth
*.ckpt
*.pkl
events.out.tfevents.*

.DS_Store
*.swp
*.swo
